<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script type="text/javascript">
        function check(elem) {
            document.getElementById('form').disabled = !elem.selectedIndex;
        }
    </script>
    <meta charset="UTF-8"/>

    <title>Title</title>
</head>
<body>

<div class="row-fluid">

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button> <a class="navbar-brand" href="/management">Kütüphane Otomasyonu - Arama Yap</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@{'/management/profile'}">Merhaba , <label th:text="${user.username}">User</label></a>

                </li>
                <li>
                    <a th:href="@{'/logout'}">Çıkış</a>
                </li>
            </ul>
        </div>

    </nav>
</div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                Gelişmiş Arama                  </h3>
                </div>
                <form th:object="${search}" th:action="@{/management/search/}" method="post">

                <div class="panel-body">

                    <label class="control-label">Yazar Adı</label>
                    <input class="form-control" type="text" th:field="${search.authorName}"/>
                    <label class="control-label">Yayıncı</label>
                    <input class="form-control" type="text" th:field="${search.publisherName}"/>
                    <!--<label class="control-label">Konu Adı (Opsiyonel)</label>-->
                    <!--<input class="form-control" type="text" th:field="${search.subjectName}"/>-->
                    <label class="control-label">Anahtar Kelime</label>
                    <input class="form-control" type="text" th:field="${search.keyword}" required/>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary" name="action" type="submit" >Ara</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid" id="LG">
                <div class="row-fluid">

                    <div class="span12">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                            </h3>
                        </div>
                        <div class="panel-body">

                        <table class="table table-striped table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>
                                    #ID
                                </th>
                                <th>
Yayın Adı
                                </th>
                                <th>
                                    İŞLEM
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr id="success" th:each="item: ${items}">
                                <td th:text="${item.itemID}">
                                    1
                                </td>
                                <td th:text="${item.itemName}">
                                    TB - Monthly
                                </td>

                                <td>
                                    <a th:href="@{'/management/item/show/'+${item.itemID}}"><button class="btn btn-primary" type="submit">Görüntüle</button></a>
                                    <a th:href="@{'/management/item/delete/'+${item.itemID}}"><button class="btn btn-danger" type="button">Sil</button></a>

                                </td>
                            </tr>
                            </tbody>

                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>