<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8"/>
    <title>Kütüphane Otomasyonu - Yayın Ekler</title>
</head>
<body>

<div class="container-fluid">
    <div class="row-fluid">

        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button> <a class="navbar-brand" href="/management">Kütüphane Otomasyonu - Yayın Ekle</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@{'/management/profile'}">Merhaba , <label th:text="${user.username}">User</label></a>

                    </li>
                    <li>
                        <a th:href="@{'/logout'}">Çıkış</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
</div>
<div class="col-md-12">


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">

            </h3>
        </div>
        <form th:object="${newitem}" th:action="@{/management/item/add/new}" method="post">
            <div class="panel-body">

                <label class="control-label">Yayın Türü</label>
                <br/>
                <!--COMBOBOX value -> item.typeID-->
                <select class="form-control" th:field="${newitem.typeID}">
                    <option  th:each="type: ${types}" th:value="${type.typeID}" th:text="${type.typeName}">ŞEHİRLER</option>
                </select>

                <label class="control-label">Yayın Evi
                    <a href="/management/publishler/add">
                        (Eklemek için tıklayın)
                    </a></label>
                <br/>
                <!--COMBOBOX value -> item.typeID-->
                <select class="form-control" th:field="${newitem.publisherID}">
                    <option  th:each="publisher: ${publishers}" th:value="${publisher.publisherID}" th:text="${publisher.publisherName}">ŞEHİRLER</option>
                </select>
                <label class="control-label">Yazarlar
                    <a href="/management/author/add">
                        (Eklemek için tıklayın)
                    </a></label>
                <br/>
                <!--COMBOBOX value -> item.typeID-->
                <select class="form-control" th:field="${itemdto.authorIDs}" multiple>
                    <option  th:each="author: ${authors}" th:value="${author.authorID}" th:text="${author.authorName +' '+ author.authorLastName}">Yazarlar</option>
                </select>
                <label class="control-label">Konular
                    <a href="/management/subject/add">
                        (Eklemek için tıklayın)
                    </a></label>
                <br/>
                <!--COMBOBOX value -> item.typeID-->
                <select class="form-control" th:field="${itemdto.subjectIDs}" multiple>
                    <option  th:each="subject: ${subjects}" th:value="${subject.subjectID}" th:text="${subject.subjectName}">Yazarlar</option>
                </select>
                <label class="control-label">Yayın Adı</label>
                <input class="form-control" type="text" th:field="${newitem.itemName}" required/>

                <label class="control-label">Yayın Açıklaması</label>
                <input class="form-control" type="text" th:field="${newitem.itemDesc}" required/>

                <label class="control-label">ISBN/STOK NO</label>
                <input class="form-control" type="text" th:field="${newitem.ISBN}" required/>

                <label class="control-label">Sayfa No/Süre</label>
                <input class="form-control" type="text" th:field="${newitem.pageNumber}" required/>

                <label class="control-label">Boyut</label>
                <input class="form-control" type="text" th:field="${newitem.sizeValue}" required/>

                <label class="control-label">Baskı</label>
                <input class="form-control" type="text" th:field="${newitem.editionNo}" required/>

                <label class="control-label">Baskı Yılı</label>
                <input class="form-control" type="number" th:field="${newitem.printYear}" required/>

                <label class="control-label">Dili</label>
                <br/>
                <select class="form-control" th:field="${newitem.itemLang}">
                    <option value=tr>Türkçe</option>

                    <option value=af>Afrikaans</option>
                        <option value=sq>Albanian</option>
                        <option value=am>Amharic</option>
                        <option value=ar>Arabic</option>
                        <option value=hy>Armenian</option>
                        <option value=az>Azerbaijani</option>
                        <option value=eu>Basque</option>
                        <option value=be>Belarusian</option>
                        <option value=bn>Bengali</option>
                        <option value=bs>Bosnian</option>
                        <option value=bg>Bulgarian</option>
                        <option value=ca>Catalan</option>
                        <option value=ny>Chichewa</option>
                        <option value=cn>Chinese</option>
                        <option value=co>Corsican</option>
                        <option value=hr>Croatian</option>
                        <option value=cs>Czech</option>
                        <option value=da>Danish</option>
                        <option value=nl>Dutch</option>
                        <option value=en>English</option>
                        <option value=eo>Esperanto</option>
                        <option value=et>Estonian</option>
                        <option value=tl>Filipino</option>
                        <option value=fi>Finnish</option>
                        <option value=fr>French</option>
                        <option value=fy>Frisian</option>
                        <option value=gl>Galician</option>
                        <option value=ka>Georgian</option>
                        <option value=de>German</option>
                        <option value=el>Greek</option>
                        <option value=gu>Gujarati</option>
                        <option value=ht>Haitian Creole</option>
                        <option value=ha>Hausa</option>
                        <option value=iw>Hebrew</option>
                        <option value=hi>Hindi</option>
                        <option value=hu>Hungarian</option>
                        <option value=is>Icelandic</option>
                        <option value=ig>Igbo</option>
                        <option value=id>Indonesian</option>
                        <option value=ga>Irish</option>
                        <option value=it>Italian</option>
                        <option value=ja>Japanese</option>
                        <option value=jw>Javanese</option>
                        <option value=kn>Kannada</option>
                        <option value=kk>Kazakh</option>
                        <option value=km>Khmer</option>
                        <option value=ko>Korean</option>
                        <option value=ky>Kyrgyz</option>
                        <option value=lo>Lao</option>
                        <option value=la>Latin</option>
                        <option value=lv>Latvian</option>
                        <option value=lt>Lithuanian</option>
                        <option value=lb>Luxembourgish</option>
                        <option value=mk>Macedonian</option>
                        <option value=mg>Malagasy</option>
                        <option value=ms>Malay</option>
                        <option value=ml>Malayalam</option>
                        <option value=mt>Maltese</option>
                        <option value=mi>Maori</option>
                        <option value=mr>Marathi</option>
                        <option value=mn>Mongolian</option>
                        <option value=my>Myanmar (Burmese)</option>
                        <option value=ne>Nepali</option>
                        <option value=no>Norwegian</option>
                        <option value=ps>Pashto</option>
                        <option value=fa>Persian</option>
                        <option value=pl>Polish</option>
                        <option value=pt>Portuguese</option>
                        <option value=pa>Punjabi</option>
                        <option value=ro>Romanian</option>
                        <option value=ru>Russian</option>
                        <option value=sm>Samoan</option>
                        <option value=gd>Scots Gaelic</option>
                        <option value=sr>Serbian</option>
                        <option value=st>Sesotho</option>
                        <option value=sn>Shona</option>
                        <option value=sd>Sindhi</option>
                        <option value=si>Sinhala</option>
                        <option value=sk>Slovak</option>
                        <option value=sl>Slovenian</option>
                        <option value=so>Somali</option>
                        <option value=es>Spanish</option>
                        <option value=su>Sundanese</option>
                        <option value=sw>Swahili</option>
                        <option value=sv>Swedish</option>
                        <option value=tg>Tajik</option>
                        <option value=ta>Tamil</option>
                        <option value=te>Telugu</option>
                        <option value=th>Thai</option>
                        <option value=uk>Ukrainian</option>
                        <option value=ur>Urdu</option>
                        <option value=uz>Uzbek</option>
                        <option value=vi>Vietnamese</option>
                        <option value=cy>Welsh</option>
                        <option value=xh>Xhosa</option>
                        <option value=yi>Yiddish</option>
                        <option value=yo>Yoruba</option>
                        <option value=zu>Zulu</option>
                                </select>

            </div>
            <div class="panel-footer">
                <button class="btn btn-success" name="action" type="submit" value="add">Ekle</button>
                <a href="/management/item">
                    <button class="btn btn-danger" name="action" type="button" value="cancel">İptal</button>
                </a>

            </div>
        </form>
    </div>
</div>
</body>
</html>