<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8"/>
    <title>Kütüphane Otomasyonu - Yazar Ekle</title>
</head>
<body>

<div class="container-fluid">
    <div class="row-fluid">

        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button> <a class="navbar-brand" href="#">Kütüphane Otomasyonu - Yazar Ekle</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@{'/user'}">Merhaba , <label th:text="${user.username}">User</label></a>

                    </li>
                    <li>
                        <a th:href="@{'/logout'}">Çıkış</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">

        </h3>
    </div>
    <form th:object="${newauthor}" th:action="@{/management/author/add/new}" method="post">
    <div class="panel-body">

        <label class="control-label">Yazar Adı</label>
        <input class="form-control" type="text" th:field="${newauthor.authorName}"/>

        <label class="control-label">Yazar Soyadı</label>
        <input class="form-control" type="text" th:field="${newauthor.authorLastName}" />



    </div>
    <div class="panel-footer">
        <button class="btn btn-success" name="action" type="submit" value="add">Ekle</button>
        <button class="btn btn-danger" name="action" type="submit" value="cancel">İptal</button>

    </div>
        </form>
</div>
</body>
</html>